/* FICHIER: sass/Utils/_variables.scss */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.header {
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
  font-size: 1.875rem;
}

.footer {
  background-color: #353535;
  padding: 1.5rem;
  color: #ffffff;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer a {
  display: flex;
  color: #ffffff;
  gap: 0.75rem;
}
.footer i {
  width: 1.25rem;
  text-align: center;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  background-color: #eaeaea;
  padding: 1.25rem 1rem;
  font-size: 1rem;
  font-family: "roboto";
  font-weight: 500;
  color: #353535;
  gap: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.location i {
  color: #353535;
}