// 1. Utils
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
// 2. Base
@import "./base/base";

// 3. Components
@import "./components/buttons";
@import "./components/cards";
@import "./components/loader";
@import "./components/heart";

// 4. Layout
@import "./layout/header";
@import "./layout/footer";
@import "./layout/forms";

// 5. Pages
@import "./pages/home";
@import "./pages/restaurants";