.footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $color-grey-dark;
    padding: 1.5rem;
    color: $color-white;
    
    @include tablet {

        flex-direction: row-reverse;
        align-items: end;
        justify-content: flex-start;
        gap: 2.5rem;
    }

    &__logo {

        font-family: $font-logo;
        font-size: 1.125rem;
        font-weight: normal;
    }

    &__list {

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        
        @include tablet {
            
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;
        }
    }

    a {
        font-size: 1rem;
        color: $color-white;
        white-space: nowrap;
    }

    i {
        width: 1.25rem;
        text-align: center;
    }
}