.footer {
    background-color: $color-grey-dark;
    padding: 1.5rem;
    color: $color-white;

    &__logo {
        font-family: $font-logo;
        font-size: 1.2rem;
        font-weight: normal;
        margin-bottom: 1rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    a {
        display: flex;
        color: $color-white;
        gap: 0.75rem;
    }

    i {
        width: 1.25rem;
        text-align: center;
    }
}