.header{

    background-color: $color-white;
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 10;
    @include flex-center;

    &__logo {

        display: block;
        font-family: $font-logo;
        margin: 0;
        font-size: 1.875rem;
    }

    &__arrow {

        position: absolute;
        left: 20px;
    }
}