.header{
    background-color: $color-white;
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 10;
    
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100%;
        max-width: 200px;
        object-fit: cover;
    }
}