.btn-gradient {

    background: linear-gradient(to top left,$color-primary, $color-secondary);

    border: none;
    border-radius: 2rem;
    color: $color-white;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

    &:hover {
        opacity: 0.95;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
    }
}