.btn-gradient {

    background: $gradient-main;

    border: none;
    border-radius: $radius-lg;
    color: $color-white;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

    box-shadow: $shadow-soft;

    &:hover {
        opacity: 0.85;
        box-shadow:$shadow-hover;
    }
}