*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-text;
    background-color: $color-white;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}