.location {

    @include flex-center;

    background-color: $color-grey;
    padding: 1.25rem 1rem;

    font-size: 1rem;
    font-family: "roboto";
    font-weight: 500;
    color: $color-grey-dark;

    gap: 0.5rem;
    
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

   i {
    color: $color-grey-dark;
   }
}

.hero {
    background-color: $color-grey-light;
    padding: 3rem 1.5rem;
    text-align: center;

    &__title {
        
        @include title-text;
    }

    &__subtitle{
        font-size: 1.1rem;
        font-weight: 300;
        color: $color-grey-dark;
        margin: 1rem 0 2rem 0;
    }
}

.steps {

    padding: 2rem 1rem;
    background-color: $color-white;

    .section-title {
        @include title-text;
        margin: 0 0 1.5rem 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-left: 0.75rem;
    }
    &__item {
        
        @include card-base($color-grey-light, flex-start);
        color:$color-black;

        &:last-child {
            .steps__icon {
                color: $color-primary;
            }
        }
    }

    &__icon {
        color: grey;
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-right: 1.5rem;
    }

    &__number {

        background-color: $color-primary;
        color: $color-white;

        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;

        @include flex-center;

        position: absolute;
        left: 0.75rem;
    }
    
    &__text {
        font-weight: 500;
    }
}
