.location {

    @include flex-center;

    background-color: $color-grey;
    padding: 1.25rem 1rem;

    font-size: 1rem;
    font-family: "roboto";
    font-weight: 500;
    color: $color-grey-dark;

    gap: 0.5rem;
    
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

   i {
    color: $color-grey-dark;
   }
}

.hero {
    background-color: $color-grey-light;
    padding: 3rem 1.5rem;
    text-align: center;

    &__title {
        
        @include title-text;
    }

    &__subtitle{
        font-size: 1.1rem;
        font-weight: 300;
        color: $color-grey-dark;
        margin: 1rem 0 2rem 0;
    }
}