.banner-img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    display: block;
}

.menu {

    background-color: $color-grey-light;
    border-radius: 2.5rem 2.5rem 0 0;
    padding: 1rem 2rem;
    position: relative;
    margin-top: -4rem;
    z-index: 1;

    &__header {

        @include flex-center($justify:space-between);
        padding: 1rem 0;
        margin-bottom: 20px;

        @include tablet {

            justify-content: center;
            gap: 2rem;
        }
    }

    &__title {
        font-family: $font-logo;
        font-weight: normal;
        margin: 0;
        font-size: 1.75rem;
    }

    &__like {

        font-size: 1.5rem;
        margin-right: 20px;
        cursor: pointer;
    }

    &__group {

        margin-bottom: 40px; //Espace entre la fin des entrées et le début des plats
        
        &-title {
            
            font-weight: 300;
            font-size: 1rem;
            margin-bottom: 20px;
            position: relative;

            &::after {

                content: "";
                display: block;
                width: 40px;
                height: 3px;
                background-color: $color-tertiary;
                margin-top: 5px;
            }
        }

    }

    &__order {

        @include flex-center;
        margin-top: 40px;
        padding-bottom: 20px;
    }

}