
@keyframes fadeInUp {

    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {

        opacity: 1;
        transform: translateY(0);
    } 
}

@keyframes fadeOut {

    0% {

        opacity: 1;
        visibility: visible;
    }

    100% {

        opacity: 0;
        visibility: hidden;
    }
    
}

@keyframes spin {

    0% {

        transform: rotate(0);
    }

    100% {

        transform: rotate(360deg);
    }
}