//Apparition des menus vers le haut  

@keyframes fadeInUp {

    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {

        opacity: 1;
        transform: translateY(0);
    } 
}
 
//Disparition du loader

@keyframes fadeOut {

    0% {

        opacity: 1;
        visibility: visible;
    }

    100% {

        opacity: 0;
        visibility: hidden;
    }
    
}

//Rotation du loader

@keyframes spin {

    0% {

        transform: rotate(0);
    }

    100% {

        transform: rotate(360deg);
    }
}