// Mixin pour centrer totalement un élément
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem; // 24px
    font-weight: 700;
}