/* FICHIER: sass/Utils/_variables.scss */

// Couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-grey-light: #f6f6f6; // Fond des sections
$color-grey-dark: #353535;  // Fond footer
$color-white: #ffffff;
$color-black: #000000;

// Polices
$font-logo: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

// Breakpoints (pour plus tard)
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;