/* FICHIER: sass/Utils/_variables.scss */

// Couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-grey-light: #f6f6f6; // Fond des sections
$color-grey-dark: #353535;  // Fond footer et police localisation
$color-grey: #eaeaea; // fond localisation
$color-white: #ffffff;
$color-black: #000000;
$color-dark-green: #008766;

// Polices
$font-logo: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

/* Ombres */
$shadow-card: 0 4px 15px rgba(0, 0, 0, 0.1);

